# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
pip-wheel-metadata/
build/
dist/
*.egg-info/
.pytest_cache/
coverage/
.coverage
htmlcov/

# Node
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Environment
.env
.env.*.local

# Other
.DS_Store
*.iml
